@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

.background{
  font-family: 'Comic Neue', cursive;
}
body {
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  overflow-y: hidden;
  z-index: 1;

}
.sec-1{
  background: url('../bgimg/meiying-ng-OrwkD-iWgqg-unsplash.jpg')  fixed;
}
.top-container{

}
.container{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
/*navbar*/
.sec-1 .navbar{
  text-transform: uppercase;
  font-size: 1em;
  z-index: 3;
  text-decoration: none;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 70%;
  position: fixed;
  height: 200px;
}
.sec-1  .menu{
  display: block;
  color: #F6AE2D;
  background: #242B3E;
  padding: 10px 20px;
  margin-bottom: 18px;
  width: 95px;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
  text-decoration: none;
}
.sec-1 .navlist{
  list-style: none;
  margin:1%;
  height:200px;
  overflow-y: hidden;
}
.closed{
  display: none;
  }
.sec-1 .navlink > a{
  color: #F6AE2D;
  background-color: #242B3E;
  padding: 10px 40px;
  display: block;
  margin-bottom: 6px;
  text-align: center;
  text-decoration: none;
}
/*...Header...*/
.header{
  flex-basis: 25%;
  z-index: 2;
  display: block;
  height:inherit;
  max-height: 100px;
  max-width: 300px;
  background-color: white;
  border: none;
  outline: black;
  clip-path: polygon(0 0, 100% 0,90% 50%, 100% 100%, 0 100%);

}
.h-shape{
  font-size: 1.3vw;
  overflow-x: hidden;
  display: grid;
  text-align: center;
  margin-left: -5%;
}

/*content box*/
.content-box{
  z-index: auto;
  justify-content: space-around;
}
.sec-1 .content-box{
    display:flex;
    margin-top: 10%;
}
.sec-1 .adjust{
  margin-top: calc(10% + 100px );
}
.section-1{

  display: block;
  max-width: 575px;
  height: 500px;
  flex-direction: column-reverse;
  color:white;
  margin-top: auto;
}
.section-1 h2{
  font-size: 40px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-1 div{
  padding: 2%;
  border-radius: 10px;
}

.tm-bg-dark {
  background: #048BA8/*rgba(255, 255, 255, 1)*/;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
  color: #DBF9F4/*#ffcce5*/;
}
.section-1 a{
  background-color: white;
  text-decoration: none;
  padding: 15px 30px;
  color: black;
  border-radius: 5px;
  display: inline-block;
  margin-left: 4%;
  margin-top: 2.5%
}

.section-2{
  background-color: #ffffff;
}
/*section-3*/

/*...Loader...*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 10001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
/*loader*/
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0); /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%); /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%); /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%); /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}
